.journal__main-conten {
  display: flex;
}

.journal__sidebar {
  background-color: $dark-grey;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
}

.journa__sidebar-navbar {
  display: flex;
  justify-content: space-between;
}

.journa__sidebar-navbar > h3 {
  font-weight: lighter;
}

.journal__new-entry {
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  margin-top: 30px;
  width: 100%;

  transition: color 0.3s ease;
  &:hover {
    color: darken($color: white, $amount: 20);
  }
}
