.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.note__appbar {
  align-items: center;
  background-color: $primary;
  color: white;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}

.note__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.note__title-input,
.notes__text-area {
  border: none;
  &:focus {
    outline: none;
  }
}

.note__title-input {
  color: $dark-grey;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.notes__text-area {
  color: $dark-grey;
  font-size: 20px;
  flex: 1 1 auto;

  // This remove the icon in the corner
  resize: none;
}

.note__image img {
  box-shadow: 5px 5px $dark-grey;
  height: 150px;
}
